language: scala
scala:
   - 2.10.6
jdk:
   - openjdk7

before_script:
  - export PATH=$PATH:$HOME/bin/

script:
  - sbt ++$TRAVIS_SCALA_VERSION --warn update compile scripted make-site

sudo: false

addons:
  apt:
    packages:
    - nodejs
    - python-sphinx

before_install:
  - rvm install 2.2.3

install:
  - gem install jekyll:2.5.3 nanoc:3.8.0 asciidoctor --no-rdoc --no-ri
  - npm install -g gitbook-cli
  - |
    mkdir $TRAVIS_BUILD_DIR/download && mkdir $HOME/bin && \
    wget https://github.com/spf13/hugo/releases/download/v0.20/hugo_0.20_linux-64bit.tar.gz -O $TRAVIS_BUILD_DIR/download/hugo.tgz && \
    tar xvf $TRAVIS_BUILD_DIR/download/hugo.tgz && \
    mv $TRAVIS_BUILD_DIR/hugo_0.20_linux_amd64/hugo_0.20_linux_amd64 $HOME/bin/hugo && \
    chmod +x $HOME/bin/hugo && \
    rm -rf $TRAVIS_BUILD_DIR/download/
  - git fetch --tags

before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

#travis-deploy
before_deploy:
  # Record minimal build information via the Git user ident
  - git config --global user.name "$USER"
  - git config --global user.email "$TRAVIS_BUILD_NUMBER@$TRAVIS_COMMIT"
  # Decrypt the secret deploy key using instructions from `travis encrypt-file`
  - openssl aes-256-cbc -K $encrypted_3afbfedfa397_key -iv $encrypted_3afbfedfa397_iv -in project/travis-deploy-key.enc -out project/travis-deploy-key -d
  - chmod 600 project/travis-deploy-key
  # Start ssh-agent in the background and load the deploy key
  - eval "$(ssh-agent -s)"
  - ssh-add project/travis-deploy-key

deploy:
  provider: script
  script: sbt ghpagesPushSite
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_PULL_REQUEST = false
#travis-deploy
