<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Frida &#8211; frida</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Documentation for frida">
  <meta name="robots" content="all">
  <meta name="author" content="Verizon">

  <link rel="canonical" href="https://github.oncue.verizon.net/iptv/frida/pages/iptv/frida/">
  <link rel="stylesheet" href="/css/pixyll.css" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>